<a href="https://colab.research.google.com/github/abhikashyap/projects/blob/main/value_today_scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Extracting html file from github

In [2]:
import requests
from bs4 import BeautifulSoup

In [3]:
response=requests.get("https://www.value.today/headquarters/india?title=&field_headquarters_of_company_target_id&field_company_category_primary_target_id&field_company_website_uri=&field_market_value_jan072022_value=&page=0")

In [4]:
len(response.text)

170955

In [5]:
page_content=response.text

## Converting to html with beautifulsoup

In [6]:
soup=BeautifulSoup(page_content,"html.parser")

# extracting data

In [3]:
soups=[]
i=0
response=requests.get(f"https://www.value.today/headquarters/india?title=&field_headquarters_of_company_target_id&field_company_category_primary_target_id&field_company_website_uri=&field_market_value_jan072022_value=&page={i}")
page_content=response.text
soup=BeautifulSoup(page_content,"html.parser")
while i != -1:
  if soup.find_all("li", {"class": "pager__item pager__item--next"}):
    response=requests.get(f"https://www.value.today/headquarters/india?title=&field_headquarters_of_company_target_id&field_company_category_primary_target_id&field_company_website_uri=&field_market_value_jan072022_value=&page={i}")
    page_content=response.text
    soup=BeautifulSoup(page_content,"html.parser")
    soups.append(soup)

    #print(f"https://www.value.today/headquarters/india?title=&field_headquarters_of_company_target_id&field_company_category_primary_target_id&field_company_website_uri=&field_market_value_jan072022_value=&page={i}")
    i+=1
  else:
    i = -1

In [4]:
companies=[]
for soup in soups: 
  company=soup.find_all("li","row well clearfix")
  for element in company:
    companies.append(element)

In [5]:
len(companies)

1000

In [6]:
def find_tag(file,tag,class_= None):
  if file.find(tag,class_):
    return file.find(tag,class_)
  else:
    return "null"

In [7]:
data=companies[1].find("div","clearfix col-sm-6 field field--name-field-market-value-jan072022 field--type-float field--label-above")

In [8]:
if data == None:
  ans = "null"
else:
  file = data
  ans=file.find("div","field--item").text

In [9]:
ans

'220.760 Billion USD'

In [10]:
len(companies)

1000

In [11]:
out=[]
for company in companies:
  data=company.find("div","clearfix col-sm-6 field field--name-field-market-value-jan072022 field--type-float field--label-above")
  if data == None:
    ans = "null"
    out.append(ans)
  else:
    file = data
    ans=file.find("div","field--item").text
    out.append(ans)

In [12]:
# extracts information
def extract(class_):
  out=[]
  for company in companies:
    data=company.find("div",class_)
    if data == None:
      ans = "null"
      out.append(ans)
    else:
      file = data
      ans=file.find("div","field--item").text
      out.append(ans)
  return(out)

In [13]:
# extract company_name
company_name=[]
for company in companies:
  company_name.append(company.find("div","field field--name-node-title field--type-ds field--label-hidden field--item").text.strip())

In [61]:
data_frame.append(company_name)

In [62]:
# extract World Rank_2022_jan
world_rank_2022_jan=extract("clearfix col-sm-6 field field--name-field-world-rank-jan072022 field--type-integer field--label-above")

In [63]:
# extract market value_jan_2022
market_value_2022_jan = extract("clearfix col-sm-6 field field--name-field-market-value-jan072022 field--type-float field--label-above")

In [64]:
# extract world_rank 2021_sept
world_rank_2021_sept =extract("clearfix col-sm-6 field field--name-field-world-rank-sep-01-2021- field--type-integer field--label-above")

In [65]:
# extract market_cap_2021_sept
market_cap_2021_sept =extract("clearfix col-sm-6 field field--name-field-market-cap-aug-01-2021- field--type-float field--label-above")

In [66]:
# extract world_rank_jan_2021
class_="clearfix col-sm-6 field field--name-field-world-rank-jan012021 field--type-integer field--label-above"
world_rank_jan_2021 = extract(class_)

In [67]:
# extract market_value_jan_2021
class_="clearfix col-sm-6 field field--name-field-market-value-jan012021 field--type-float field--label-above"
market_value_jan_2021 = extract(class_)

In [68]:
# extract world_rank_jan_2020
class_="clearfix col-sm-6 field field--name-field-world-rank-jan-2020 field--type-integer field--label-above"
world_rank_jan_2020 = extract(class_)

In [69]:
# extract market_value_jan_2020
class_="clearfix col-sm-6 field field--name-field-market-value-jan-2020 field--type-float field--label-above"
market_value_jan_2020 = extract(class_)

In [70]:
# Headquarters_Country

class_="clearfix col-sm-12 field field--name-field-headquarters-of-company field--type-entity-reference field--label-above"
Headquarters_Country = extract(class_)

In [71]:
# Chairman

class_="clearfix col-sm-12 field field--name-field-chairman field--type-entity-reference field--label-above"
Chairman = extract(class_)

In [72]:
# ISIN Code:

class_="clearfix col-sm-12 field field--name-field-isin-code field--type-string field--label-above"
ISIN_Code = extract(class_)

In [73]:
# Company_Business:

class_="clearfix col-sm-12 category-button field field--name-field-company-category-primary field--type-entity-reference field--label-above"
Company_Business = extract(class_)

In [74]:
# Stock_Exchange:

class_="clearfix col-sm-12 field field--name-field-stock-exchange-lc field--type-entity-reference field--label-inline"
Stock_Exchange = extract(class_)

In [75]:
# Number_of_Employees:

class_="clearfix col-sm-12 field field--name-field-employee-count field--type-integer field--label-inline"
Number_of_Employees = extract(class_)

In [76]:
# Rank_in_Country_2021:

class_="clearfix col-sm-12 field field--name-field-company-rank-in-country-in field--type-string field--label-inline"
Rank_in_Country_2021 = extract(class_)

In [77]:
# Annual Revenue in USD:

class_="clearfix col-sm-12 field field--name-field-revenue-in-usd field--type-float field--label-inline"
Annua_Revenue_in_USD = extract(class_)

In [79]:
# Annual_Net_Income_in_USD:

class_="clearfix col-sm-12 field field--name-field-net-income-in-usd field--type-float field--label-inline"
Annual_Net_Income_in_USD = extract(class_)

In [80]:

dic = {"company_name":company_name,"world_rank_2022_jan":world_rank_2022_jan,"world_rank_2021_sept":world_rank_2021_sept,
       "market_cap_2021_sept":market_cap_2021_sept,
       "world_rank_jan_2021" :world_rank_jan_2021,
       "market_value_jan_2021":market_value_jan_2021,
       "world_rank_jan_2020":world_rank_jan_2020,
       "Headquarters_Country":Headquarters_Country,
       "Chairman":Chairman,
       "ISIN_Code":ISIN_Code,
       "Company_Business":Company_Business,
       "Stock_Exchange":Stock_Exchange,
       "Number_of_Employees":Number_of_Employees,
       "Rank_in_Country_2021":Rank_in_Country_2021,
       "Annua_Revenue_in_USD":Annua_Revenue_in_USD,
       "Annual_Net_Income_in_USD":Annual_Net_Income_in_USD
}

In [81]:
import pandas as pd

In [82]:
pd.DataFrame.from_dict(dic)

,company_name,world_rank_2022_jan,world_rank_2021_sept,market_cap_2021_sept,world_rank_jan_2021,market_value_jan_2021,world_rank_jan_2020,Headquarters_Country,Chairman,ISIN_Code,Company_Business,Stock_Exchange,Number_of_Employees,Rank_in_Country_2021,Annua_Revenue_in_USD,Annual_Net_Income_in_USD
0,TATA GROUP,44,44,242.000 Billion USD,null,null,null,India,Ratan N Tata,null,null,null,"750,000",null,"103,000 Million USD",null
1,RELIANCE INDUSTRIES,54,52,214.910 Billion USD,56,178.950 Billion USD,70,India,Mukesh Ambani,INE002A01018,Energy,BSE,"236,330",Company Rank in India in 2021 is 1,"87,614 Million USD","7,598 Million USD"
2,TATA CONSULTANCY SERVICES (TCS),65,61,195.160 Billion USD,78,150.000 Billion USD,97,India,N. Chandrasekaran,INE467B01029,Technology,BSE,"606,331",Company Rank in India in 2021 is 2,"24,002 Million USD","4,797 Million USD"
3,HDFC BANK,127,128,121.600 Billion USD,118,107.380 Billion USD,120,India,Atanu Chakraborty,INE040A01034,Financial Services,BSE,"120,093",Company Rank in India in 2021 is 3,"12,743 Million USD","4,825 Million USD"
4,INFOSYS,149,155,101.040 Billion USD,202,72.539 Billion USD,335,India,N.r. Narayana Murthy,INE009A01021,Technology,BSE,"335,186",Company Rank in India in 2021 is 5,"16,311 Million USD","2,968 Million USD"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,SOUTHERN PETROCHEMICAL INDUSTRIES CORPORATION,"20,668","21,629",0.148 Billion USD,19589,0.068 Billion USD,21309,India,null,INE147A01011,Basic Materials,BSE,null,Company Rank in India in 2021 is 894,null,null
996,BHAGERIA INDUSTRIES,"20,687","21,756",0.145 Billion USD,18193,0.100 Billion USD,20353,India,null,INE354C01027,Basic Materials,BSE,null,Company Rank in India in 2021 is 793,null,null
997,FUTURE LIFESTYLE FASHIONS,"20,695","21,797",0.144 Billion USD,14693,0.241 Billion USD,7139,India,null,INE452O01016,Consumer Cyclical,BSE,null,Company Rank in India in 2021 is 564,296 Million USD,-118 Million USD
998,CAPACIT'E INFRAPROJECTS,"20,722","22,036",0.139 Billion USD,16085,0.173 Billion USD,16429,India,null,INE264T01014,Industries,BSE,null,Company Rank in India in 2021 is 637,null,null
999,BLACK ROSE INDUSTRIES,"20,734","22,269",0.133 Billion USD,18560,0.091 Billion USD,20177,India,null,INE761G01016,Basic Materials,BSE,null,Company Rank in India in 2021 is 823,null,null